body,
html {
    background-color: #292828;
    /*color: #3bf59e;*/
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
}


/*div {
    border-style: dashed;
}*/

a {
    color: white;
}

img {
    vertical-align: middle;
    border-style: none;
}

.home-top-img {
    background-image: url('../images/torigates-japan.jpg');
    /* Full height and width */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circleImg {
    border-radius: 50%;
    height: 200px;
    float: right;
}

.subHeader {
    padding-bottom: 40px;
}

.regCard {
    height: 250px;
    max-width: 50%;
}


/* Center content */

.outer {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* *************** */


/* CONTENT FILL HEIGHT */

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row {
    border: 1px dotted grey;
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: auto;
}

.box .row.footer {
    flex: 0 1 40px;
}


/* ******************* */

div.sec {
    min-height: 75%;
    background-color: white;
    padding-top: 20px;
}

#home-about {
    padding-top: 40px;
    min-height: 35%;
    color: black;
}

#mobile-blurb {
    display: none;
}

#home-projects {
    background-color: #333333;
}

#home-contact {
    height: 15%;
    background-color: #555555;
}

.blurb {
    max-width: 80%;
    text-align: justify;
}

.blurb>a {
    color: black;
}