body,
html {
    background-color: #292828;
    /*color: #3bf59e;*/
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
}

a {
    color: white;
}

img {
    vertical-align: middle;
    border-style: none;
}

.home-top-img {
    background-image: url('../images/torigates-japan.jpg');
    /* Full height and width */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circleImg {
    border-radius: 50%;
    height: 200px;
}

.subHeader {
    padding-bottom: 40px;
}

.regCard {
    height: 250px;
    max-width: 50%;
}


/* Center content */

.outer {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* *************** */

div.sec {
    height: 75%;
    background-color: white;
}

#home-about {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 50%;
    color: black;
}

#home-projects {
    background-color: #333333;
}

#home-contact {
    height: 25%;
    background-color: #555555;
}

#blurb {
    width: 50%;
    text-align: justify;
}

#blurb>a {
    color: black;
}