.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav-git-link {
    height: 40px;
    width: 40px;
}

  .affix {
      top: 0;
      width: 100%;
      background-color:#333333;
  }
