/* General controls */
:root {
  --font: -apple-system, BlinkMacSystemFont, 'Roboto Mono', monospace,
    sans-serif;
  --font-size: 16px;
  --light-color: #4a4d4e;
  --light-bg: #dcdcdc;
  --light-nav: #e4e4e4;
  --light-secondary: #e4e4e4;
  --dark-color: #e4e4e4;
  --dark-bg: #282c34;
  --dark-nav: #4a4d4e;
  --dark-secondary: #4a4a4a;
}

body,
* {
  margin: 0;
  font-family: var(--font) !important;
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* end */

/* Header controls */
.Header {
  min-height: 80vh;

}
.HeaderContent {
  width: fit-content;
  padding-top: 20%;
  margin: auto !important;
}
/* end */

/* Theme controls */
.white-content {
  background: var(--light-bg) !important;
  color: var(--light-color) !important;
}

.dark-content {
  background: var(--dark-bg);
  color: var(--dark-color);
}
/* end */

/* Projects controls */
.Projects {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  
}
.ProjectsHeader {
  
  text-align: center;
}

.ProjectItem {
  width: 50%;
  box-sizing: border-box;
}
/* end */

/* ProjectItem controls */
.white-content .ProjectCard {
  background: var(--light-secondary);
  color: var(--light-color);
}

.dark-content .ProjectCard {
  background: var(--dark-secondary);
  color: var(--dark-color);
}
/* end */

/* Navbar & Route controls */
.white-content .navbar,
.white-content a {
  background: var(--light-nav);
  color: var(--light-color);
}

.dark-content .navbar,
.dark-content a {
  background: var(--dark-nav);
  color: var(--dark-color);
}

.nav-flex-container {
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  align-self: flex-end;
  text-decoration: none;
  margin-left: 10px;
}
/* end */

/* Button controls */
.white-content .Button {
  color: var(--light-color) !important;
  text-transform: none !important;
  font-size: var(--font-size) !important;
}

.dark-content .Button {
  color: var(--dark-color) !important;
  text-transform: none !important;
  font-size: var(--font-size) !important;
}
/* end */

/* Typist cursor controls */
.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* end */


