/* General controls */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* end */

/* Theme controls */
.white-content {
  background: #e4e4e4;
  color: #282c34;
}

.dark-content {
  background: #282c34;
  color: #e4e4e4;
}
/* end */

/* Project controls */
.white-content .project-item {
  background: #7bdfc1;
  color: #282c34;
}

.dark-content .project-item {
  background: #424957;
  color: #e4e4e4;
}
/* end */

/* Navbar & Route controls */
.white-content .navbar {
  background: #7bdfc1;
  color: #282c34;
}

.dark-content .navbar {
  background: #424957;
  color: #e4e4e4;
}

.nav-flex-container {
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  align-self: flex-end;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
/* end */

/* Typist cursor controls */
.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* end */
